body{
    background-color: black;
}

.menu{
    background-color: rgb(114, 105, 105);
    width: 100%;
    height: 160px;

    position: fixed; 
    top: 0; 
    left: 0;
    
    z-index: 100;
}

.titulo{
    font-family: "Indie Flower", cursive;
    width: 100%;
    margin-left: 41%;
    font-size: 22px;
}

.sub{
    color: whitesmoke;
    width: 100%;
    margin-left: 46%;
    text-shadow: 2px 2px 4px black;
}

.t1{
    color: whitesmoke;
    
}

.t2{
    color: cadetblue;
}

.t3{
    color: rgb(104, 37, 138);
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.pi{
    margin-left: 140px;
    margin-top: 16px;
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.c{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.pm{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.r{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.bprin{
    width: 100%px;
    height: 1200px;
    align-content: center;
}

.roda{
    color: white;
    font-size: small;
}

/*PRATO 1*/

.i1{
    background-color:  rgb(104, 37, 138);
    align-content: center;
    width: 95%;
    height: 230px;
    color: whitesmoke;
    border: solid 5px;
    
    position: absolute;
    top: 200px;
    left: 30px;

}

.i11{
    width: 30%;
    height: 160px;
    display: inline-block;
    margin-left: 15px;
}

.i12{
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-left: 20px;
    
    position: absolute;
    top: 5px;
    left: 450px;
}

.i13{
    width: 30%;
    display: inline-block;
    margin-left: 20px;
}

.foto1{
    width: 280px;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
    border: rgb(231, 73, 231) dotted 5px;
}

.titu{
    font-family: "Indie Flower", cursive;
    text-shadow: 2px 2px 4px black;
}

.p1{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 40px;

    position: absolute;
    top: 30px;
    left: 900px;
}

.p2{
    color: whitesmoke;
    font-size: 200px;

    position: absolute;
    top: 5px;
    left: 960px;
}

.p3{
    color: whitesmoke;
    font-size: 40px;

    position: absolute;
    top: 30px;
    left: 1150px;
}

.pdd{
    color: red;
    
    position: absolute;
    left: 1250px;
    top: 200px;
    font-weight: bold;
     text-shadow: 2px 2px 4px black;
}


/*PRATO 2*/

.i2{
    background-color:  rgb(104, 37, 138);
    width: 300px;
    height: 450px;
    margin-top: 440px;
    margin-left: 30px;
    display: inline-block;
}

.i21{
    width: 300px;
    height: 200px;
}

.i22{
    color: whitesmoke;
    margin-left: 25px;
}

.p4{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.p5{
    font-size: 80px;
    margin-left: 30px;
}


/*PRATO 3*/

.i3{
    background-color:  rgb(104, 37, 138);
    width: 300px;
    height: 450px;
    margin-left: 300px;
    display: inline-block;
    top: 180px;

}

.i31{
    width: 300px;
    height: 200px;
}

.i32{
    color: whitesmoke;
    margin-left: 25px;
}

.p6{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.p7{
    font-size: 80px;
    margin-left: 30px;
}

/*PRATO 4*/

.i4{
    background-color:  rgb(104, 37, 138);
    width: 300px;
    height: 450px;
    margin-left: 305px;
    display: inline-block;
    top: 180px;
}

.i41{
    width: 300px;
    height: 200px;
}

.i42{
    color: whitesmoke;
    margin-left: 25px;
}

.p8{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.p9{
    font-size: 80px;
    margin-left: 30px;
}

/*PRATO 5*/

.i5{
    background-color:  rgb(104, 37, 138);
    width: 300px;
    height: 450px;
    margin-left: 310px;
    display: inline-block;
    top: 180px;
}

.i51{
    width: 300px;
    height: 200px;
}

.i52{
    color: whitesmoke;
    margin-left: 25px;
}

.p10{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.p11{
    font-size: 80px;
    margin-left: 30px;
}


/*PRATO 6*/

.i6{
    background-color:  rgb(104, 37, 138);
    width: 300px;
    height: 450px;
    margin-left: 315px;
    display: inline-block;
    top: 180px;


}

.i61{
    width: 300px;
    height: 200px;
}

.i62{
    color: whitesmoke;
    margin-left: 25px;
}

.p12{
    color: black;
    text-shadow: 2px 2px 4px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.p13{
    font-size: 80px;
    margin-left: 30px;
}


.roda{
    color: white;
    font-size: small;
    align-content: center;
}

.rodape{
    width: 100%;
}

.conhe{
    position: absolute;
    top: 915px;
    left: 130px;
}

.conhe2{
    position: absolute;
    top: 400px;
    left: 188px;
}

.conhe3{
    margin-left: 70px;
}

.conhe4{
    margin-left: 70px;
}

.conhe5{
    margin-left: 70px;
}

.conhe6{
    margin-left: 70px;
}