body{
    background-color: black;
}

.menu{
    background-color: rgb(114, 105, 105);
    width: 100%;
    height: 160px;

    position: fixed; 
    top: 0; 
    left: 0;
    
    z-index: 100;
}

.titulo{
    font-family: "Indie Flower", cursive;
    width: 100%;
    margin-left: 43.5%;
    font-size: 22px;
}

.sub{
    color: whitesmoke;
    width: 100%;
    margin-left: 44.8%;
    text-shadow: 2px 2px 4px black;
}

.t1{
    color: whitesmoke;
    
}

.t2{
    color: cadetblue;
    font-weight: 100;
}

.t3{
    color: rgb(104, 37, 138);
    font-weight: 900px;
}

.pi{
    margin-left: 140px;
    margin-top: 16px;
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.c{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.pm{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.r{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.bprin{
    width: 100%px;
    height: 1200px;
    align-content: center;
}

.roda{
    color: white;
    font-size: small;
}

.bem{
    width: 800px;
    height: 50px;
    color: white;
    margin-top: 150px;
    font-size: 120px;
    font-family: "DynaPuff", system-ui;
    text-shadow: 2px 2px 4px black;

    position: absolute;
    top: 450px;
    left: 450px;
}

.tex{
    width: 900px;
    height: 30px;
    color: white;
    margin-top: 80px;
    font-size: 20px;
    font-family: "Dynapuff", system-ui;
    text-shadow: 2px 2px 4px black;

    position: absolute;
    top: 650px;
    left: 460px;
}