body{
    background-color: black;
}

.menu{
    background-color: rgb(114, 105, 105);
    width: 100%;
    height: 160px;

    position: fixed; 
    top: 0; 
    left: 0;
    
    z-index: 100;
}

.titulo{
    font-family: "Indie Flower", cursive;
    width: 100%;
    margin-left: 40%;
    font-size: 22px;
}

.sub{
    color: whitesmoke;
    width: 100%;
    margin-left: 43%;
    text-shadow: 2px 2px 4px black;
}

.tt{
    color: whitesmoke;
    
}

.inini{
    color: cadetblue;
}

.t3{
    color: rgb(104, 37, 138);
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.pi{
    margin-left: 140px;
    margin-top: 16px;
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.c{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;

}

.pm{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.r{
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    height: 40px;
    text-align: center;
}

.bprin{
    width: 100%px;
    height: 1200px;
    align-content: center;
}

.roda{
    color: white;
    font-size: small;
}

/*tabela*/

.tabela{
    margin-left: 60px;
    width: 90%;
    position: absolute;
    top: 200px;
    color: whitesmoke;
}

table, th, td{
    color: whitesmoke;
    text-align: center;
    border: dotted whitesmoke 2px;
}

.t1{
    width: 195px;
    height: 180px;
}

.t2{
    margin-left: 20px;
    color: whitesmoke;
    text-align: center;
}


tr:nth-child(even) { 
    background-color: rgb(104, 37, 138);;
    }

tr:nth-child(odd) { 
    background-color: rgb(185, 136, 210);;
    }

th{
    height: 60px;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
}